$theme-colors: (
  'primary': #ff007f,
  'secondary': #833bec,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #ff007f,
  'light': #c0ccda,
  'dark': #001738,
);

$enable-rounded: false;

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");


$font-family-sans-serif: "Source Sans Pro";

// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

header.coinToastHeader {
  font-family: "Staatliches" !important;
  color: #fff !important;
  font-size: 1.65rem;
  background-color: #ff007f !important;
  border: 0px;
}
header.coinToastHeader .close {
  color: #fff;
  opacity: 1;
}
div.coinToastBody {
  color: #fff !important;
  background-color: #ff007f !important;
  font-family: "Source Sans Pro";
}
div.toast {
  border: 0px;
}