<template>
  <div class="prel">
    <b-card
      border-variant="light"
      :class="getClass(building.id)"
      overlay
      :img-src="getBuildingImage(building, profit)"
      v-if="showBuilding">
      <BuildButtons v-if="building.available" :buildingId="building.id" :buildingAmount="amount" />
      <b-card-text>
        <h3 class="price">
          {{ amount }} <small>{{ building.name }}</small>
        </h3>
        <p class="text">
          <span class="amountText" v-if="amount > 0 && profit > 0">
            You have {{ amount }}
            {{ amount > 1 ? building.plural : building.name }} producing
            <span class="production">{{production}}</span>
            {{ productionName }} per block.</span
          >
          <span class="redAmountText" v-if="amount > 0 && profit <= 0">
            You are supporting {{ amount }}
            {{ amount > 1 ? building.plural : building.name }} costing
            {{ profit * levelMultiplier }} {{ productionName }} per block.</span
          >
          <span v-if="building.available">
            <span class="buy">Buy a new {{ building.name }} for</span>
            <span class="price"
              >{{ getPrice }} {{ productionName }}</span
            ></span
          >
        </p>
      </b-card-text>
    </b-card>
    <b-card
      border-variant="light"
      overlay
      :class="getClass(building.id)"
      :img-src="getBuildingImage(building, profit)"
      v-else-if="showBananas"
    >
      <BuildButtons v-if="availableBananas" :buildingId="building.id" />
      <b-card-text>
        <h3 class="price">
          {{ amount }} <small>{{ building.name }}</small>
        </h3>
        <p class="text">
          <span class="amountText">
            You have {{ amount }} banana worth
            <span class="production">{{ profit * levelMultiplier }}</span>
            {{ productionName }} per block.
          </span>
          <span class="bavailability">{{ availableBananas }} available. {{banance}} build by players.</span>
          <span v-if="building.available">
            <span class="buy">Buy a new {{ building.name }} for</span>
            <span class="price"
              >{{ getPrice }} {{ productionName }}</span
            ></span
          >
        </p>
      </b-card-text>
    </b-card>
    <b-overlay
      class="prel"
      show="show"
      rounded="sm"
      v-else-if="maxCookies > price * 0.4 && maxCookies <= price * 0.85"
    >
      <b-card
        class="building-card rounded-0"
        overlay
        :img-src="getBuildingImage(building, profit)"
      >
        <h3 class="price">
          <small>Unlocking.. {{ building.name }}</small>
        </h3>
      </b-card>
    </b-overlay>
  </div>
</template>

<script>
import BuildButtons from "../components/BuildButtons";
import levelData from "../helpers/levels.js";
import formatter from "../helpers/formatter";

export default {
  components: {
    BuildButtons,
  },
  props: {
    building: Object,
    amount: {
      type: Number,
      default: () => {
        return 0;
      },
    },
    profit: {
      type: Number,
      default: () => {
        return 0;
      },
    },
    price: {
      type: Number,
      default: () => {
        return 0;
      },
    },
    building: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data: function () {
    return {
      levelData: levelData,
    };
  },
  computed: {
    showBuilding() {
      let show = false;
      if(this.building.id == 1 || (this.amount > 0 && this.building.id != 21)) {
        return true;
      }
      if(this.maxCookies > (this.price * .85) && this.building.id < 20) {
        return true;
      }
      return false;
    },
    showInProgress() {
      if(this.maxCookies > (this.price * .4) && this.maxCookies <= (this.price * .85)) {
        return true;
      }
      return false;
    },
    showBananas() {
      if((this.maxCookies >= this.price * 0.85 && this.building.id == 21) || (this.amount > 0 && this.building.id == 21)) {
        return true;
      }
      return false;
    },
    production() {
      return formatter.nFormatter(this.profit * this.levelMultiplier,2)
    },
    banance() {
      return this.$store.state.banance || 0;
    },
    maxCookies() {
      return this.$store.state.maxCookies;
    },
    levelMultiplier() {
      return parseInt(this.$store.state.level) + 1;
    },
    productionName() {
      if (levelData.length > 0) {
        return levelData[this.$store.state.level].short;
      }
      return "tokens";
    },
    availableBananas() {
      let amount = 1000;
      if(this.$store.state.playerList.length < 60) {
        amount = 7000 - (this.$store.state.playerList.length * 100);
      }
      return (
        Math.floor((this.$store.state.block - this.$store.state.sunrise) / amount) -
        this.$store.state.banance
      );
    },
    getPrice() {
      let price = this.price;
      let games = this.$store.state.playerList.length;
      let div = 1000 - (games * 20);
      if(games > 46) {
        div = 100;
      }
      if (this.building.id == 21) {
        price = Math.ceil(this.price * Math.pow(1.375, (this.$store.state.banance / (games / 2))));
      }
      if (this.amount > 0) {
        price = Math.floor(this.price * Math.pow(1.375, this.amount));
      }
      return Math.floor(price / this.$store.state.decimals);
    },
  },
  methods: {
    getBuildingImage(building, profit) {
      if (building.id == 0) {
        if (profit == 3) {
          return require("~/assets/building/house_0.png");
        }
        if (profit == 6) {
          return require("~/assets/building/house_1.png");
        }
        if (profit == 10) {
          return require("~/assets/building/house_2.png");
        }
      }
      if (building.id == 7 && profit == 25) {
        return require("~/assets/building/carlos_2.gif");
      }
      return require("~/assets/building/" +
        building.image +
        building.mainExtension);
    },
    getClass: function (b) {
      let c = "building-card rounded-0";
      if (b != 0) {
        c = c + " nohome";
      }
      return c;
    }
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

span.price {
  position: absolute;
  right: 0.5vw;
  bottom: -0.5vh;
  font-size: 2vh;
  font-family: "Staatliches";
}
.prel {
  margin-bottom: 0.5vh;
  color: #fff;
}
span.production {
  color: #fff;
  font-size: 2vh;
}
.nohome div::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 30%,
    rgba(200, 114, 242, 0.5) 55%,
    rgba(0, 23, 56, 1) 95%
  );
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.home .building-card div::after {
  background: none i !important;
}

div.building-card {
  -webkit-filter: grayscale(100%) blur(1px);
  filter: grayscale(100%) blur(1px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
div.building-card:hover {
  -webkit-filter: grayscale(0%) blur(0px);
  filter: grayscale(0%) blur(0px);
}
span.amountText {
  position: absolute;
  bottom: -0.5vh;
  left: 0.5vw;
  font-size: 0.9vh;
  color: #fff;
  font-family: "Staatliches";
  text-shadow: 1px 1px #000000;
  z-index: 10;
}
span.redAmountText {
  position: absolute;
  bottom: 0.3vh;
  left: 0.5vw;
  font-size: 1vh;
  color: #f00;
  font-family: "Staatliches";
  text-shadow: 1px 1px #000000;
  z-index: 10;
}
span.buy {
  position: absolute;
  right: 0.5vw;
  bottom: 2vh;
  z-index: 10;
}
span.price {
  z-index: 10;
}
h3.price small {
  font-size: 2vh;
  font-family: "Staatliches";
  z-index: 10;
}
h3.price {
  margin-top: 0px;
  font-family: "Staatliches";
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0.75vw;
  font-size: 3.3vw;
  color: #fff;
  text-shadow: 2px 2px 5px #000000, -2px -2px 5px #000;

  z-index: 10;
}

span.bavailability {
  position: absolute;
  top: 0.65vh;
  left: 3vw;
  font-family: "Staatliches";
  text-shadow: 2px 2px 5px #000000, -2px -2px 5px #000;
  z-index: 13;
}

.bgroup {
  position: absolute;
  right: 0.5vw;
  top: 10px;
}

@media screen and (max-width: 600px) {
  h3.price {
    font-size: 10vw;
  }
  h3.price small {
    font-size: 6vw;
  }
  span.bavailibility {
    top: 0.65vh;
    font-size: 5vw;
    left: 10.75vw;
  }
  span.amountText {
    font-size: 3vw;
  }
}
</style>