<template>
    <div>
        <b-tabs pills content-class="mt-3">
            <b-tab title="Buildings" @click="unhideBingo()">
                <vuescroll>
                    <div class='buildingWrapper'>
                        <Building v-for="building in buildings" :key="building.id" :building="building" :profit="parseFloat(profits[building.id] / decimals)" :price='parseFloat(prices[building.id])' :amount='parseInt(amounts[building.id])' />
                    </div>
                </vuescroll>
            </b-tab>
        </b-tabs>
    </div>
</template>
<style scoped>
@media screen and (min-width: 601px) {
    .buildingWrapper {
        max-height: calc(100vh - 120px);
        height: calc(100vh - 120px) !important;
    }
}
</style>
<script>
import vuescroll from "vuescroll";
import buildingData from "../helpers/buildings";
import Building from './Building.vue';
import eventBus from '../helpers/eventBus';

export default {
    computed: {
        prices() {
            return this.$store.state.prices
        },
        amounts() {
            return this.$store.state.buildings;
        },
        profits() {
            return this.$store.state.profits;
        },
        decimals() {
            return this.$store.state.decimals;
        }
    },
    components: {
        Building,
        vuescroll
    },
    methods: {
        unhideBingo() {
            eventBus.$emit('update-toast', {title: "What what whaat??", body: 'Looks like you found something!', data: {id: 14, type: 'update'}});
        }
    },
    data() {
        return {
            buildings: buildingData,
            ops: {}
        }
    }
}
</script>