<template>
  <div class="bgroup">
    <b-button-group>
      <TransactionButton @click.native="build" size="sm"  variant="success" title="Build +1" />
      <TransactionButton v-if="buildingId != 20 && buildingAmount > 0" @click.native="sell" size="sm"  variant="danger" title="Sell -1" />
    </b-button-group>
  </div>
</template>
<script>
import EventBus from '../helpers/eventBus'
import TransactionButton from '../components/Game/TransactionButton.vue';

export default {
    components: {
      TransactionButton
    },
    props:{
        buildingId: Number,
        buildingAmount: Number
    },
    methods: {
        build() {
            const payload = {
                buildingId: this.buildingId,
                amount: 1,
            }
            // Sounds //
            if(this.buildingId == 7) {
                  this.audio = new Audio(window.location + 'audio/bitconneeect.mp3');
                  this.audio.play();
            }
            if(this.buildingId == 14) {
              //Scam
                  this.audio = new Audio(window.location + 'audio/vitalik.mp3');
                  this.audio.play();
            }
            if(this.buildingId == 17) {
              //Scam
                  this.audio = new Audio(window.location + 'audio/thatsascam.mp3');
                  this.audio.play();
            }
            this.$store.dispatch('build', payload)
        },
        sell() {
             const payload = {
                buildingId: this.buildingId,
                amount: 1,
            }
            this.$store.dispatch('sell', payload)
        }
    }
}
</script>
<style>
.bgroup {
  z-index: 11;
}
button.btn {
  z-index: 11;
}
</style>
