<template>
  <b-row align-h="center" style="height: 95vh" align-v="center">
    <b-col sm="8">
      <div
        align-v="center"
        style="text-align: center"
        class="h-100 inline-block"
      >
        <b-btn
          v-if="!connected"
          @click="connect"
          variant="success"
          class="rounded-0"
          size="l"
          >Connect</b-btn
        >
        <b-btn v-if='!connected' variant='success' class="rounded-0" v-b-modal.helpModal size='l'><b-icon-question /></b-btn>
        <TransactionButton v-if='connected && loaded' title='Start game' variant='success' @click.native="createGame" />
        <div v-if='connected && !loaded && networkError'>
          <h1 class='wrongNetwork'>Have you selected the right network (fantom)? young man?</h1>
          <img src="https://images.pexels.com/photos/2050976/pexels-photo-2050976.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=300&w=600" />
          <p>Please switch to the Fantom Network</p>
          <p><a href='https://docs.fantom.foundation/tutorials/set-up-metamask'><u>More information →</u></a></p>
        </div>
        <div v-if='!loaded && connected && !networkError'>
          <h1>Loading <b-spinner
        type="grow"
      ></b-spinner></h1>
        </div>
      </div>
    </b-col>
    <Help />
  </b-row>
</template>
<style scoped>
h1.wrongNetwork {
  color:#ccc;
}
p {color: #ddd}
</style>
<script>

import Web3Modal from "web3modal";
import WalletConnectProvider from '@walletconnect/web3-provider'
import TransactionButton from '../components/Game/TransactionButton.vue';
import Help from "./Modal/Help.vue";

export default {
  components: {
    TransactionButton,
    Help    
  },
  methods: {
    createGame() {
      this.$store.dispatch("createGame");
    },
    async connect() {
      const providerOptions = {
        walletconnect: {
          package: WalletConnectProvider, // required
          options: {
            infuraId: "8043bb2cf99347b1bfadfb233c5325c0", // required
          },
        },
      };

      this.web3Modal = new Web3Modal({
        // network: "rinkeby", // optional
        theme: "dark",
        cacheProvider: false, // optional
        disableInjectedProvider: false,
        providerOptions, // required
      });

      this.web3Modal.clearCachedProvider();
      try {
        this.provider = await this.web3Modal.connect();
      } catch (e) {
        console.log("Could not get a wallet connection", e);
        return;
      }
      this.$store.dispatch('initContract', {provider: this.provider});

      // Subscribe to accounts change
      this.provider.on("accountsChanged", (accounts) => {
        if(this.provider) {
          console.log("Account changed");
          this.$store.dispatch('initContract', {provider: this.provider});
        }
      });

      // Subscribe to chainId change
      this.provider.on("chainChanged", (chainId) => {
          console.log("Chain changed");
          this.$store.dispatch('initContract', {provider: this.provider});
      });

      // Subscribe to provider connection
      this.provider.on("connect", (info) => {
          console.log("CC Connect");
        // this.$store.dispatch('initContract', {provider: this.provider});
      });

      // Subscribe to provider disconnection
      this.provider.on("disconnect", (error) => {
          console.log("CC Disconnect");
          console.log(error);
      });
      
    },
  },
  computed: {
    networkError() {
      return this.$store.state.networkError;
    },
    connected() {
      return this.$store.state.account;
    },
    loaded() {
      return this.$store.state.loaded;
    },
    loading() {
      return this.$store.state.loading;
    }
  },
};
</script>