<template>
  <div>
    <Rain />
    <div class="notrain">
      <img
        id="cookie"
        @click="showLevelModal"
        style="max-width: 70%; cursor:pointer"
        :src="require(`~/assets/level/${l.level}.svg`)"
      />
      <h3 :class="'baked level'+ l.level">{{ l.ticker }}</h3>
      <h1 :class="'cookies level' + l.level">
        <span>{{ getInt }} <small>{{getDec}}</small></span>
      </h1>
      <h3 :class="'baked level'+ l.level">{{ l.underline }}</h3>

      <!-- <b-row>
        <b-col>
          <div class="mt-3">
            <b-button-group size="xl">
              <b-button variant="danger">Withdraw</b-button>
              <b-button variant="success">Deposit</b-button>
            </b-button-group>
          </div>
        </b-col>
      </b-row> -->
      <b-row>
        <b-col>
          <p class="production">
            {{l.prod}} <b>{{getProduction()}}</b> tokens per block, at the current network speed of {{blocktime}} this results in <b>{{ formattedCprs }}</b> tokens per second. Of which <b @click="bingo">{{inContract}}</b> are currently in your contract. Current gasprice is {{getGasPrice}} Gwei.
          </p>
        </b-col>
      </b-row>
      <LevelModal />
    </div>
  </div>
</template>

<script>
import levels from "../helpers/levels";
import mapState from 'vuex';
import Debug from '../components/Debug.vue';
import LevelModal from '../components/Modal/Level';
import eventBus from '../helpers/eventBus';
import formatter from '../helpers/formatter';
import Rain from "./Game/Rain.vue";

export default {
  components: {
    Debug,
    LevelModal,
    Rain
  },
  props: {
    cookies: Number,
    cps: Number,
  },
  methods: {
    bingo() {
      eventBus.$emit('update-toast', {title: "Nice one!", body: 'Looks like you found something!', data: {id: 1, type: 'update'}});
    },
    countCookies() {
      if (this.getCurrentProductionPerSecond() > 0 && this.estimatedTotal >= 0) {
        this.estimatedTotal = this.estimatedTotal + (this.getCurrentProductionPerSecond() * 10);
        this.$store.commit('increaseMaxCookies', this.estimatedTotal);
        this.setTimeout();
      }
    },
    setTimeout() {
      this.timeout = setTimeout(() => {
        this.countCookies();
      }, 100);
    },
    formattedTotal: function () {
      return formatter.pFormatter(this.estimatedTotal, 5);
    },
    getBuildingCount: function () {
      return this.$store.state.buildings;
    },
    getProduction: function() {
      let total = 0;
      for (let i = 0; i < 22; i++) {
        total += (this.$store.state.buildings[i] * this.$store.state.profits[i]) * (this.$store.state.level+1);
      }
      return total / this.$store.state.decimals;
    },
    getCurrentProductionPerSecond: function () {
      if (this.$store.state.blocktime) {
        return this.getProduction() / this.$store.state.blocktime;
      }
      return (this.getProduction() / 15);
    },
    showLevelModal() {
      if(this.$store.state.level < 9) {
        this.$bvModal.show('levelModal');
      }
    }
  },
  mounted: async function () {
    this.unsubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'setCookies') {
        this.estimatedTotal = state.cookies;
        clearTimeout(this.timeout);
        this.countCookies();
      }
    });
  },
  beforeDestroy() {
    this.unsubscribe();
    clearTimeout(this.timeout);
  },
  data: function() {
    return {
      total: 0,
      estimatedTotal: 0,
      timeout: false
    }
  },
  computed: {
    getGasPrice() {
      return this.$store.state.gasPrice / 1000000000;
    },
    rain: function() {
      return this.$store.state.rain;
    },
    blocktime() {
      return this.$store.state.blocktime;
    },
    l: function () {
      return levels[this.$store.state.level || 0];
    },
    getInt: function () {
      let str = formatter.pFormatter(this.estimatedTotal,4);
      let dec = str.split(".")[0];
      if(isNaN(parseInt(str[str.length-1]))) {
        return dec + str[str.length-1];
      } 
      return dec;
    },
    getDec: function () {
      let base = formatter.pFormatter(this.estimatedTotal,3)
      let dec, str ,res; 
      dec = base.toString().split(".")[1];
      if (typeof dec != "undefined") {
        if(isNaN(dec[dec.length-1])) {
          str = dec.substr(0,dec.length-1);
        } else {
          str = dec;
        }
        if(str.length < 3) {
          res = str.padEnd(3, '0');
        } else {
          res = str;
        }
        return "." + res;
      }
      return ".000";
    },
    level() {
      return this.$store.state.level;
    },
    getCurrentProduction: function () {
      this.getProduction();
    },
    inContract: function() {
      return formatter.pFormatter(this.$store.state.cookies,2);
    },
    formattedCprs: function() {
      return formatter.nFormatter(this.getCurrentProductionPerSecond(),3);
    }

  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
:root {
  --shadow-color: #ff9e9e;
  --shadow-color-light: white;
}

@media screen and (min-width: 601px) {
  h1.cookies span small {
    font-size: 3vw;
    left: -35px;
  }
  h1.cookies { 
    font-size: 6vw;
  }
  h3.baked {
    font-size: 1.5vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1.cookies span small {
    font-size: 5vw;
    left: -20px;
  }
  h1.cookies { 
    font-size: 20vw;
  }
  h3.baked {
    font-size: 8vw;
  }

}

h1.cookies span small {
  position: relative;
}

h1.cookies {
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  text-align: center;
  color: white;
  animation: neon 3s infinite;
}
div.notrain {
  z-index: 100;
  position: relative;
}
/* h1.cookies {
  font-size: 6vw;
  text-align: center;
  color: greenyellow;
  padding: 5%;
  text-shadow: 6px 3px #ffffff;
  z-index: 2;
} */
h3.baked {
  text-align: center;
  z-index: 2;
  font-family: "Archivo Black", "Archivo", sans-serif;
  text-shadow: 0px 0px 15px #000;
}
h1.cookies small {
  font-size: 1vw;
  z-index: 2;
  font-family: "Archivo Black", "Archivo", sans-serif;
}
b {
  z-index: 2;
  font-weight: bold;
}
p.production {
  color: #fcfcfc;
}
img#cookie {
  z-index: 2;
  padding: 10%;
  -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
  filter: drop-shadow(0 0 1rem #000);
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.level0 {
  color: #50af95;
}
.level1 {
  color: #3468d1;
}
.level2 {
  color: #8DC351;
}
.level3 {
  color: #c2a633;
}
.level4 {
  color: #FF007A;
}
.level5 {
  color: #2a5ada; 
}
.level6 {
  color: #f7931a;
}
.level7 {
  color: #50af95;
}
.level8 {
  color: #d9a547;
}
.level9 {
  color: #A6E275;
}
.level10 {
  color: #A6E275;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
      0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
      0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 5px var(--shadow-color-light),
      0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color),
      0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color),
      0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light),
      -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light),
      1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
      0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
      0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}
</style>