<template>
  <b-row>
    <b-col>
      <b-btn variant="danger" size="sm" v-b-toggle.my-sidebar>DEBUG</b-btn>
      <b-sidebar
        id="my-sidebar"
        title="Debug options"
        bg-variant="dark"
        text-variant="light"
        shadow
      >
        <div class="px-3 py-2">
          <b-form-group label="Set cookies" label-for="Cookies">
            <b-form-input
              id="backdrop-variant"
              v-model="cookies"
              ref="cookies"
            ></b-form-input>
            <TransactionButton variant="success" @click.native="setCookies" title="Send"></TransactionButton>
          </b-form-group>
          <b-form-group label="Set Level" label-for="Cookies">
            <b-form-input
              id="backdrop-variant"
              v-model="level"
              ref="level"
            ></b-form-input>
             <TransactionButton variant="success" @click.native="setLevel" title='Send'></TransactionButton>
          </b-form-group>
          <b-form-group label="Reset" label-for="Cookies">
            <TransactionButton variant="success" title='reset game' @click.native="resetGame"></TransactionButton>
          </b-form-group>
          <b-form-group>
            <b-button-group>
              <b-button size="sm" variant="danger" @click="toggleLoading()"
                >toggleLoading
              </b-button>
              <b-button size="sm" variant="danger" @click="makeToast('test','test','success')"
                >makeToast
              </b-button>
              <b-button size="sm" variant="danger" @click="toggleRain"
                >toggleRain
              </b-button>
            </b-button-group>
          </b-form-group>
          <h3>Contractrecord</h3>
          <p style="word-wrap: break-word;">{{record}}</p>
        </div>
        <template #footer="{ hide }">
          <div class="d-flex bg-dark text-light align-items-center px-3 py-2">
            <strong class="mr-auto">Footer</strong>
            <b-button size="sm" @click="hide">Close</b-button>
          </div>
        </template>
      </b-sidebar>
          <b-toast id="my-toast" variant="warning" solid>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <b-img blank blank-color="#ff5555" class="mr-2" width="12" height="12"></b-img>
          <strong class="mr-auto">Notice!</strong>
          <small class="text-muted mr-2">42 seconds ago</small>
        </div>
      </template>
      This is the content of the toast.
      It is short and to the point.
    </b-toast>
    </b-col>
  </b-row>
</template>
<script>
import TransactionButton from '../components/Game/TransactionButton.vue'
import eventBus from '../helpers/eventBus';

export default {
  components: {
    TransactionButton
  },
  methods: {
    toggleRain() {
      this.$store.commit('toggleRain');
    },
    makeToast(title, body, variant = null) {
        eventBus.$emit('update-toast', {title: title, body: body, variant: variant});
    },
    resetGame: function () {
      this.$store.dispatch('createGame');
    },
    setCookies: function () {
      this.$store.dispatch('setCookies', parseInt(this.cookies));
    },
    setLevel: function () {
       this.$store.dispatch('setLevel', parseInt(this.level));
    },
    toggleLoading: function() {
      this.$store.commit('toggleLoading')
    }
  }
};
</script>