<template>
  <b-row>
    <b-col sm="4" order-lg="1" order-md="1" class="text-center">
      <Cookie :cps="parseInt(cps)" :cookies="parseInt(cookies)" />
    </b-col>
    <b-col sm="5" order="3" order-md="2">
      <MiddlePane />
    </b-col>
    <b-col sm="3" order="2" order-md="3" v-if="prices.length > 1">
      <Buildings class="buildingWrapper"/>
    </b-col>
  </b-row>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
body,
html {
  overflow: hidden;
  font-family: "Kalam";
}
.bgpaper {
  background-image: url(./assets/bg.jpg.png);
  background-color: #cccccc;
  height: 100vh;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
h3 small {
  font-size: 2vw;
  margin-top: -0.5vw;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links {
  padding-top: 15px;
}
.toast-header {
  font-family: "Kalam" !important;
  font-size: 50px;
}
</style>
<script>
import Cookie from "../components/Cookie";
import localBuildings from "../helpers/buildings";
import Buildings from "../components/Buildings.vue";
import MiddlePane from "../components/MiddlePane";
import "../assets/scss/custom.scss";
import eventBus from '../helpers/eventBus';

let _code = "38384040373937396665";
let _delay = 1000;
let _callbacks = [];
let _timeout = null;

export default {
  components: {
    MiddlePane,
    Buildings,
    Cookie
  },
  computed: {
    prices() {
      return this.$store.state.prices;
    },
    getRandomEvent() {
      return this.$store.state.randomEvent;
    }
  },
  methods: {
    bind() {
        let code = "";
        document.addEventListener( "keydown", ( e ) => {
            clearTimeout( _timeout );
            code = `${code}${e.keyCode}`;
            if ( code === _code ) {
                this._dispatch();
            }
            _timeout = setTimeout(() => {
                clearTimeout( _timeout );
                code = "";
            }, _delay );
        }, false );
    },
    listen ( callback ) {
      if ( typeof callback === "function" ) {
        _callbacks.push( callback );
      }
      return this;
    },
    _dispatch () {
        for ( let i = _callbacks.length; i--; ) {
            _callbacks[ i ].call();
        }
    },
    toggleModal() {
      this.$refs["levelModal"].show();
    },
    getPrice(id) {
      const p = this.prices[id];
      return this.fracExp(p, this.state[id]);
    },
    fracExp: (price, amount) => {
      if (amount > 0) {
        return price * Math.ceil(Math.pow(1.5, amount));
      }
      return price;
    }
  },

  mounted: async function () {
    // //heyheyhey
    // this.audio = new Audio(window.location + 'audio/heheheey.mp3');
    // this.audio.play();
    this.bind();
    this.listen(() => {
      console.log( "Lekker gewerkt vdb!" );
      eventBus.$emit('update-toast', {title: "Bingo!", body: 'Looks like you found something!', data: {id: 8, type: 'update'}});
    });
  },
  beforeDestroy: function () {
    this.$store.dispatch('unsubscribe');
  },
  data: () => {
    return {
      web3: false,
      blockTime: 0,
      profit: [],
      cps: 0,
      accounts: [],
      buildings: localBuildings,
      participants: [],
      manager: "",
      balance: 0,
      maxCookies: 1,
      cookies: 0,
      message: "",
      setCookie: 0,
      level: 0,
    };
  },
};
</script>