 <template>
  <div>
    <b-row>
      <b-col>
        <b-tabs class="pills" pills justified  content-class="mt-3">
          <b-tab active>
            <template #title>👾</template>
            <HowTo />
          </b-tab>
         <b-tab title="Rugs (NFT)" v-if="cookies > 1000">
            <template #title>
               🖼️
            </template>
            <Nfts :nfts="nfts" :available="true" />
          </b-tab>
          <b-tab title="Opportunities" v-if="upgrades.length > 0">
            <template #title>
              ⚙️
            </template>
            <Upgrades :upgrades="upgrades" />
          </b-tab>
          <b-tab v-if="ach.length > 0">
            <template #title>
              🏆
            </template>
            <Achievements style="width: 100%;" :ach="ach" />
          </b-tab>
          <b-tab>
            <template #title>
              🔃
            </template>
            <Compare />
          </b-tab>
            <b-tab>
            <template #title>
              📝
            </template>
            <Credits />
          </b-tab>
          <b-tab title-item-class='daotab' v-if='govTokenCount > 1 || tokenInWallet > 0'>
            <template #title>
              <b-progress style="margin-top: 4px; width: 10vw" variant="secondary" max="1" show-progress animated>
                <b-progress-bar :value="govTokenProgress"
                  ><span>
                    <strong>{{ govTokenCount }} </strong></span   >
                </b-progress-bar>
              </b-progress>
            </template>
            <Dao />
          </b-tab>
        </b-tabs>
      </b-col>
    </b-row>
  </div>
</template>
<style>
li.daotab {
  float: right;
}
li.daotab a {
  height: 100%;
}

@media screen and (max-width: 600px) {
  .pills {
    margin-top: 10px;
  }
}
</style>
<script>
import { nftData } from "../helpers/nfts";
import EventBus from "../helpers/eventBus.js";
import vuescroll from "vuescroll";
import Achievements from "../components/Game/Achievements";
import Upgrades from "../components/Game/Upgrades";
import Stats from "../components/Game/Stats";
import Nfts from "../components/Game/Nfts";
import Credits from "./Game/Credits.vue";
import Compare from "./Game/Compare.vue";
import Dao from "./Game/Dao.vue";
import achievements from "../helpers/achievements";
import calculator from "../helpers/calculator";
import upgrade from "../helpers/upgrades";
import HowTo from "./Game/HowTo.vue";

import { mapGetters } from "vuex";

export default {
  components: {
    vuescroll,
    Dao,
    Achievements,
    Upgrades,
    Stats,
    Credits,
    Nfts,
    Compare,
    HowTo
  },
  computed: {
    ...mapGetters(["govTokenCount", "govTokenProgress"]),
    ach() {
      return calculator.getAvailableAchievements(
        this.$store.state,
        achievements
      );
    },
    cookies() {
      return this.$store.state.maxCookies
    },
    tokenInWallet() {
      return this.$store.state.governanceTokensInWallet;
    },
    gameLevel() {
      return this.$store.level;
    },
    upgrades() {
      return calculator.getAvailableUpgrades(this.$store.state, upgrade);
    },
  },
  data() {
    return {
      nfts: nftData,
    };
  },
};
</script>
<style scoped>
</style>