<template>
  <div class="upgradeContainer">
    <vuescroll>
      <b-card-group columns>
        <Achievement v-for="a in ach" :key="a.id" :achievement='a' />
      </b-card-group>
    </vuescroll>
  </div>
</template>
<style scoped>

@media screen and (min-width: 601px) {
  .upgradeContainer {
    max-height: calc(100vh - 120px) !important;
    display: inline-block;
    height: calc(100vh - 120px) !important;
  }
}
</style>
<script>
import TransactionButton from '../../components/Game/TransactionButton.vue'
import Achievement from "./Achievement.vue";
import numeral from "numeral";
import vuescroll from "vuescroll";
import eventBus from '../../helpers/eventBus';

export default {
  components: {
    vuescroll,
    Achievement,
    TransactionButton
  },
  props: {
    ach: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  methods: {
    unhideUpdate: function() {
      eventBus.$emit('update-toast', {title: "Bingo!", body: 'Looks like you found something!', data: {id: 10, type: 'update'}});
    },
    claimAchievement: function(id) {
      this.$store.dispatch('claimAchievement', id);
    }
  }
};
</script>