<template>
        <b-card overlay
          bg-variant="dark"
          text-variant="white"
          class="bg rounded-0"
          :title="achievement.title"
          :img-src="achievement.image"
        >
          <b-card-text>
            {{ achievement.description }}
            <div v-if="achievement.header" class='backgroundHeader'>{{achievement.header}}</div>
          </b-card-text>
          <div class='upgradeFooter'>
            <h6 v-if="checkClaim[achievement.id] == 1" ><b-badge size='sm' variant="success">Claimed</b-badge></h6>
            <small class="text-muted" v-if="achievement.footer">
              {{ achievement.footer }} [{{achievement.id}}]
            </small>
            <small class='text-muted' v-if="achievement.link">
              <a @click="unhideUpdate" :href="achievement.link.href">{{achievement.link.text}} [{{achievement.id}}]</a>
            </small>
            <transaction-button v-if="((achievement.id>=0 && achievement.id < 255) && checkClaim[achievement.id] != '1')" classs="float-right" variant="success" size="sm" @click.native='claimAchievement(achievement.id)' icon='arrow-down-circle-fill'></transaction-button>
          </div>
        </b-card>
</template>
<style scoped>
div.backgroundHeader {
  font-family: 'Staatliches';
  color: #FF007F;
  font-size: 48vw;
  position: absolute;
  top: 10vh;
  text-align: center;
  width: 100%;
  text-shadow: none;
}
div.bg::after{
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.2) 30%, rgba(200,114,242,0.05) 55%, rgba(0,23,56, 1) 85%);
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
}
h4.card-title {
  text-shadow: 2px 2px #000;
  font-family: 'Staatliches';
  z-index: 10;
  position: relative;
}
.upgradeFooter {
  width: 85%;
  background: none;
  position: absolute;
  bottom: 1vh;
  z-index: 10;
}
.upgradeFooter span {
  color: #fff;
  font-size: 0.85rem;
  z-index: 10;
}
.upgradeFooter small .aprice {
  color: #fff;
  font-weight: bold;
  z-index: 10;
  font-family: 'Staatliches';
}
.upgradeFooter button {
  z-index: 10;
}
p.card-text {
  position: relative;
  z-index: 10;
  text-shadow: 1px 1px #000;
}
p.card-text span.badge {
  position: relative;
  z-index: 10;
  text-shadow:none;
  color: #fff;
  margin-right: 5px;
}

@media screen and (min-width: 601px) {
  .upgradeContainer {
    max-height: calc(100vh - 120px) !important;
    display: inline-block;
    height: calc(100vh - 120px) !important;
  }
  div.backgroundHeader {
    font-size: 8vw;
    top: 2vw;
  }
}
</style>
<script>
import TransactionButton from '../../components/Game/TransactionButton.vue'
import numeral from "numeral";
import vuescroll from "vuescroll";
import eventBus from '../../helpers/eventBus';

export default {
  components: {
    vuescroll,
    TransactionButton
  },
  computed: {
    checkClaim() {
      let arr = [...this.$store.state.achievements.toString(2)].reverse();
      return arr;
    }
  },
  props: {
    achievement: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  methods: {
    unhideUpdate: function() {
      eventBus.$emit('update-toast', {title: "Bingo!", body: 'Looks like you found something!', data: {id: 10, type: 'update'}});
    },
    countUpgrade: function() {
      let upgCount = 0;
      let record = this.$store.state.record;
      for(let i=103; i<record.length; i++) {
        if(record[i] != 0) {
          upgCount++;
        }
      }
      return upgCount; 
    },
    claimAchievement: function(id) {
      this.$store.dispatch('claimAchievement', id);
    }
  }
};
</script>