<template>  
    <b-card border-variant="light" overlay :img-src="getBuildingImage(building, profit)" v-if="((maxCookies >= price * 0.85) && building.id == 21) || amount > 0">
        <BuildButtons v-if="building.available" :buildingId="building.id" />
        <b-card-text>
            <h3 class="price">
            {{ amount }} <small>{{ building.name }}</small>
            </h3>
            <p class='text'>
            <span class='amountText'>
                You have {{ amount }}
                {{ amount > 1 ? building.plural : building.name }} producing
                <span class='production'>{{ profit * levelMultiplier }}</span> {{productionName}} per block.</span
            >
            <span v-if="building.available">
                <span class='buy'>Buy a new {{ building.name }} for</span>
                <span class='price'>{{ getPrice(building.id) }} {{productionName}}</span></span
            >
            </p>
        </b-card-text>
    </b-card>
</template>
