<template>
  <vuescroll>
    <div class="cardlist">
      <b-card bg-variant="dark" title="Compare" text-variant="white" class="rounded-0">
          <b-card-text>
            <p>Click or fill in the wallet address of one of your friends in other to see their progress in the game. Want to be added to this list? Please visit the spreadsheet at: <a href='https://bit.ly/2XLBASE'>https://bit.ly/2XLBASE</a></p>
            <b-input-group>
              <template #prepend>
                <b-input-group-text >Wallet address</b-input-group-text>
              </template>
              <b-form-input v-model="addressModel"></b-form-input>
              <template #append>
                <b-btn text="Dropdown" variant="primary" @click="addAddress">Compare!</b-btn>
              </template>
            </b-input-group>
          </b-card-text>
          <div class="buttonContainer">
            <b-btn
              variant="primary"
              size="sm"
              class="playerButton"
              v-for="(p, index) in addresses"
              :key="index"
              @click="loadAddressFromList(index)"
            >
              <b-icon icon="wallet2"></b-icon> {{ p.substr(2, 5) }}
            </b-btn>
          </div>
      </b-card>
      <CompareAddress v-for="a in compare" :key="a[0]" :c="a" />
    </div>
  </vuescroll>
</template>
<style scoped>
div.card {
  margin-bottom: 1vh;
}
div.cardlist {
  max-height: calc(100vh - 120px);
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}
.playerButton {
  margin-top: 6px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 6px;
  min-width: 80px;
}
</style>
<script>
import vuescroll from "vuescroll";
import CompareAddress from "./CompareAddress";
import eventBus from "../../helpers/eventBus";
export default {
  components: { vuescroll, CompareAddress },
  computed: {
    compare() {
      return this.$store.state.compare;
    },
    players() {
      return this.$store.state.players;
    },
    playerList() {
      return this.$store.state.playerList;
    },
    addresses() {
      return this.$store.state.playerList; 
    }
  },
  mounted() {
      this.$store.dispatch("fetchPlayers");
  },
  methods: {
    addAddress: function (add) {
      let alt = this.addressModel;
      alt = alt.toLowerCase();
      alt = window.btoa(alt);
      if(alt == 'Zm9ydHV5bi5ldGg=') {
        eventBus.$emit('update-toast', { data: { type: 'upgrade', id: 15}, title: 'The creator..', body: 'Nice one! You found a hidden update!'})
      } else if(alt == 'bWFuc2EgbXVzYQ==') {
        eventBus.$emit('update-toast', { data: { type: 'upgrade', id: 19}, title: 'No f***** way..', body: 'Nice one! You found a very hidden update!'})
      }
      else {
      // if(typeof this.$store.state.compare[add] == 'undefined') {
        this.$store.commit("pushPlayerList", this.addressModel);
      }
    },
    loadAddressFromList: function (i) {
      let a = this.$store.state.playerList[i];
      this.$store.dispatch('loadAddress', a)
    },
    onSubmit: function () {
      this.addAddress(this.address);
    },
    onReset: function () {
  
    }
  },
  data() {
    return {
      address: "",
      addressModel: ""
    };
  },
};
</script>
