<template>
  <b-card bg-variant="dark" text-variant="white" class="rounded-0">
    <b-card-title><small><b-badge sm :variant="variant">Level {{c[1]}}</b-badge></small> {{ shortAddress }}</b-card-title>
    <b-card-text>
      <img class="identicon" :src="'data:image/png;base64,' + identicon" />
      <p>{{ shortAddress }} has an age of {{ age }} and has bought {{upgrades.length}} upgrades, while claiming {{achievements}} achievements.</p>
    </b-card-text>
    <h5>Buildings</h5>
    <div class="buildingContainer">
        <img  v-for="(b, i) in buildings" :key="'y' + i"
          :src="
            require('~/assets/building/thumb/' + buildingData[b].image + '.png')
          "
        />
    </div>
    <h5>Upgrades</h5>
    <div class="buildingContainer">
        <img v-for="(b, i) in upgrades" :key="i"
          :src="
            require('~/assets/upgrades/' + b + '.png')
          "
        />
    </div>
  </b-card>
</template>
<style scoped>
div.buildingContainer {
  display: flex;
  width: 100%;
  min-width: 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
div.buildingContainer img {
  max-width: 63px;
  margin: 2px;
}
img.identicon {
  position: relative;
  float: right;
  right: 0px;
  top: -40px;
}
</style>
<script>
import buildingData from "../../helpers/buildings.js";
import achievementData from '../../helpers/achievements.js'
import Identicon from "identicon.js";
export default {
  computed: {
    variant() {
      let variant = 'info';
      if(this.c[1] == 1 || this.c[1] == 5) {
        variant = 'success';
      }
      if(this.c[1] == 2 || this.c[1] == 6) {
        variant = 'secondary';
      }
      if(this.c[1] == 3 || this.c[1] == 7) {
        variant = 'success';
      }
      if(this.c[1] == 4 || this.c[1] == 8) {
        variant = 'info';
      }
      if(this.c[1] == 9) {
        variant = 'primary';
      }
      return variant;
    },
    identicon() {
      return new Identicon(this.c[0]).toString();
    },
    shortAddress() {
      return this.c[0].substring(2, 7);
    },
    achievements() {
        let ach = [...BigInt(this.c[4]).toString(2)];
        let c=0;
        for(let i=0; i<ach.length;i++) {
            if(ach[i] > 0) {
                c++;
            }
        }
        return c;
    },
    upgrades() {
        let ach = this.c[9];
        let c=[];
        for(let i=0; i<ach.length;i++) {
            if(ach[i] > 0) {
              c.push(i)
            }
        }
        return c;
    },
    age() {
        return this.$store.state.block - this.c[3];
    },
    buildings() {
      let list = [];
      this.c[7].map(function (item, index) {
        for (let i = 0; i < item; i++) {
          list.push(index);
        }
      });
      return list;
    },
  },
  data() {
    return {
      buildingData: buildingData,
    };
  },
  props: {
    a: {
      type: Array,
      default: function() { return [
        "", "", "", "", "", "", [], [],[],[]
      ]},
    },
    c: {
      type: Array,
      default: function() { return [
        "", "", "", "", "", "", [], [],[],[]
      ]},
    },
  },
};
</script>