<template>
  <vuescroll>
    <div class='cardlist'>
    <b-card bg-variant="dark" title="Log &amp; credits" text-variant="white" class="rounded-0">
      <b-card-text>
        <p>
          This experience was created as part of a side-project of learning
          solidity the ethereum toolchain and a absolute adoration for the
          creativity of the creator of the actual game, cookie clicker. The game
          is not made for profit but just for fun.. However the NFTS in this
          game are very real.
        </p>
        <p>
          This game was created by Daniel Fortuyn (<a
            href="https://twitter.com/@dgf"
            >@DGF</a
          >) <a href="https://frtn.nl"></a>
        </p>
        <p>
          Big thanks to everybody helping out with testing the game and giving
          pointers on how to improve it. E.g. the community CoinClickerDao.
        </p>
        <h4>Roadmap</h4>  
          <ul>
          <li>Memory leaks</s>
          <li><s>! Governance token claimeable, one per 10k blocks played</s></li>
          <li>! Hover with stats on buildings</li>
          <li><s>! Implement bigint</s></li>
          <li><s>limited amount of buildings available.. release n buildings per block, capped at a max supply of n.</s></li>
          <li><s>ERC-20 compatability</s></li>
          <li><s>Staking of tokens</s></li>
          <li><s>More upgrade types</s></li>
          <li><s>More achievements</s></li>
          <li>Include a historic production graph a la yearn</li>
          <li>Global building supply and restock</li>
          <li>Unlocking buildings and upgrades through achievements and or upgrades</li>
          <li>Logging achievements, by claiming them.</li>
          <li>Highscore ladder.</li>
          <li>Migrating games at updates</li>
          <li>Moar memes</li>
          <li><s>How to play guide</s></li>
          <li>More wallets</li>
          </ul>
        
      </b-card-text>
      </b-card>
      <b-card bg-variant="dark" text-variant="white" class="rounded-0">
        <b-card-text>
          <h3>Version <span @click="tricked">1.0</span>  2021-09-29</h3>
            <ul>
              <li>Rebalance</li>
              <li>New NFTs</li>
              <li>New upgrades</li>
              <li>New events</li>
              <li>New achievements</li>
            </ul>
          </b-card-text>
      </b-card>
      <b-card bg-variant="dark" text-variant="white" class="rounded-0">
        <b-card-text>
          <h3>Version <span @click="tricked">RC1</span>  2021-09-22 </h3>
            <ul>
              <li>Rebalance</li>
              <li>New NFTs</li>
              <li>New upgrades</li>
              <li>New events</li>
              <li>New achievements</li>
            </ul>
          </b-card-text>
      </b-card>
    <b-card bg-variant="dark" text-variant="white" class="rounded-0">
        <b-card-text>
          <h3>Version <span @click="tricked">v.80</span>  2021-08-13</h3>
            <ul>
              <li>Tabs are hidden to make the game more exploratory</li>
              <li>All contracts rewritten</li>
              <li>Major debugging, should be most stable version yet.</li>
              <li>Moved CCGT to ERC-1155</li>
            </ul>
          </b-card-text>
      </b-card>
        <b-card bg-variant="dark" text-variant="white" class="rounded-0">
        <b-card-text>
          <h3>Version <span @click="tricked">v.71</span>  2021-07-23</h3>
            <ul>
              <li>Tabs are hidden to make the game more exploratory</li>
              <li>Added a few achievements</li>
              <li>Moved some upgrades to leveling</li>
              <li>Added a some upgrades </li>
            </ul>
          </b-card-text>
      </b-card>
            <b-card bg-variant="dark" text-variant="white" class="rounded-0">
        <b-card-text>
        <h3>Version 0.61 @ 2021-07-16</h3>
          <ul>
            <li>Bugfixes</li>
            <li>LARGER PRODUCTION NUMBER</li>
            <li>Added a few achievements</li>
            <li>Moved some upgrades to leveling</li>
            <li>Added a some upgrades </li>
          </ul>
        </b-card-text>
    </b-card>
            <b-card bg-variant="dark" text-variant="white" class="rounded-0">
        <b-card-text>
        <h3>Version 0.60 @ 2021-07-09</h3>
          <ul>
            <li>Bugfixes</li>
            <li>Consolidation</li>
            <li>Deducting balance directly after you buy</li>
            <li>Added a few achievements</li>
            <li>Tweaked the Governance Token to 1250 blocks of gaming per token.</li>
          </ul>
        </b-card-text>
    </b-card>
      <b-card bg-variant="dark" text-variant="white" class="rounded-0">
        <b-card-text>
        <h3>Version 0.51 @ 2021-07-03</h3>
          <ul>
            <li>Bugfix</li>
          </ul>
        </b-card-text>
    </b-card>
      <b-card bg-variant="dark" text-variant="white" class="rounded-0">
        <b-card-text>
        <h3>Version 0.5 @ 2021-07-02</h3>
          <ul>
            <li>Contract rewrite, major gas reduction</li>
            <li>CCGT GovernanceToken for players</li>
            <li>Enhanced deploys for easy development.</li>
            <li>Snapshot voting framework implemented</li>
            <li>LaserCarlos naar level 1</li>
            <li>Probably added a lot of bugs..</li>
          </ul>
        </b-card-text>
    </b-card>
    <b-card bg-variant="dark" text-variant="white" class="rounded-0">
        <b-card-text>
        <h3>Version 0.4 @ 2021-06-25</h3>
          <ul>
            <li>Added new content (art, sounds, etc)</li>
            <li>Redesigned some elements</li>
            <li>Added the possibility to compare with friends</li>
            <li>Rework some contract interactions</li>
            <li>Claim achievements</li>
            <li>Probably added a lot of bugs..</li>
          </ul>
        </b-card-text>
    </b-card>
    <b-card bg-variant="dark" text-variant="white" class="rounded-0">
        <b-card-text>
        <h3>Version 0.3 @ 2021-06-18</h3>
          <ul>
            <li>Added new upgrades</li>
            <li>You can only buy upgrades once</li>
            <li>List of players and games</li>
            <li>Changed and inserted some additional artwork</li>
            <li>Decouple nfts, upgrades, achievements and games</li>
          </ul>
        </b-card-text>
    </b-card>
     <b-card bg-variant="dark" text-variant="white" class="rounded-0">
        <b-card-text>

        <h3>Version 0.2.1 @ 2021-06-15</h3>
<ul>
  <li>Bugfixes</li>
  <li>Added some nfts</li>
  <li @click="unhideLambo">Props for reading this..</li>
  <li>Changed and inserted some additional artwork</li>
</ul>
        </b-card-text>
    </b-card>
         <b-card bg-variant="dark" text-variant="white" class="rounded-0">
        <b-card-text>

        <h3>Version 0.2 @ 2021-06-11</h3>
        <p>Major contract rework, bug fixes and art changes.
<ul>
  <li>Contract rework</li>
  <li>Added house upgrades</li>
  <li>Changed and inserted some additional artwork</li>
  <li>Worked through VdB feedback. Including loading state.. and optimistic pricing.</li>
</ul>

        </p>
        </b-card-text>
    </b-card>
    <b-card bg-variant="dark" text-variant="white" class="rounded-0">
        <b-card-text>

        <h1 class="credits">Tip!</h1>
        <p>If you enjoyed this game. You can always buy me a cup of coffee!<p> Any donations or funds will go to the further development of the game. If you guys have any requests or ideas I will gladly take them into consideration. Submit them to the snapshot page.</p>
        <p>Other than that I would like to thank pexels.com for their unending supply of stock photo's. Thanks to all the photographers who made this possible. I hope you too can enjoy the game.</p>
                <TransactionButton class="pull-right" @click.native='tip' title="Send a tip"></TransactionButton> 
        </b-card-text>
                    <template #footer>
              <small class="text-muted">
                or just send straight to my wallet at fortuyn.eth
              </small>
            </template>
    </b-card>
    </div>
    </vuescroll>

</template>
<script>
import TransactionButton from "./TransactionButton.vue";
import vuescroll from "vuescroll";
import eventBus from "../../helpers/eventBus";

export default {
  components: { TransactionButton, vuescroll },
  methods: {
    tricked: function () {
      console.log("Nice one didnt work");
    },
    triggerevent: function() {
      eventBus.$emit('random-event', 1);
    },
    nmrl: function (p) {
      return numeral(p).format("0a");
    },
    tip: async function () {
      this.$store.dispatch("sendTip");
    },
    unhideLambo() {
      eventBus.$emit('update-toast', {title: "Wen lamb0", body: 'Looks like you found something!', data: {id: 6, type: 'update'}});
    },
  },
  data() {
    return {};
  },
};
</script>
<style scoped>
div.card {
  margin-bottom: 1vh;
}
@media screen and (min-width: 601px) {
div.cardlist {
  max-height: calc(100vh - 120px);
}
}
</style>