<template>
  <b-card
    bg-variant="dark"
    text-variant="white"
    class="rounded-0"
    title="The CoinClickerDao"
  >
    <div v-if="block > 0">
      <b-progress max="1" show-progress animated>
        <b-progress-bar :value="govTokenProgress">
          <span
            >Claimable GovernanceTokens:
            <strong>{{ govTokenCount }} </strong></span
          >
        </b-progress-bar>
      </b-progress>
      <p>You are currently gaining 1 governance token per {{ blockreward }} blocks. This means that you can
        claim {{ govTokenCount }} governance CCGT (CoinClickerGovernanceTokens) tokens.
      </p>
      <p>
        Governance tokens can be used for two things. The primary usage is to
        vote on proposals at our <a href="https://snapshot.org/#/coinclicker.eth/">snapshot</a> page. Governance tokens are permanent, and will be redistributed when the game
        goes live.
      </p>
      <p>
        Finally having governance tokens <i @click="unhide(11)">might</i> unlock additional
        achievements, upgrades and perks.
      </p>
    </div>
    <b-btn v-if="govTokenCount > 1" @click="claim" title="Claim"
      >Claim {{ govTokenCount }} governance tokens</b-btn
    >
    <p v-else>
      Claiming button will become available if you can claim at least one token.
    </p>
  </b-card>
</template>
<style scoped>
</style>
<script>
import { mapGetters } from 'vuex';
import eventBus from '../../helpers/eventBus';

export default {
  computed: {
    ...mapGetters([
      'achievementCount',
      'age',
      'govTokenCount',
      'govTokenProgress',
      'blockreward'
    ]),
    block() {
      return this.$store.state.block;
    }
  },
  methods: {
    unhide(id) {
      eventBus.$emit('update-toast', {title: "Nice one!", body: 'Looks like you found something!', data: {id: id, type: 'update'}});
    },
    async claim() {
      this.$store.commit("setUpdateFilter", 5);
      this.$store.dispatch("claimGovernanceTokens");
    },
  },
};
</script>