<template>
    <div class='cardlist'>
    <b-card bg-variant="dark" title="Welcome to CoinClicker!" text-variant="white" class="rounded-0">
      <b-card-text>
            <p>CoinClicker is a <b>free</b>, idle game. A game in which you have to wait in order to progress and explore new parts of the game! It is obviously a game with a wink and you should play it as such. It is designed to explore some of the concepts of crypto.</p>
            <p>You can find buildings, upgrades, achievements and nfts throughout the game. CoinClicker is designed as a race in which you have to rug your friends. If you manage to do so, you get a <b>NFT</b>! You can only get one of these by playing the game!</p>
            <p>You can pull a rug by acumulating enough tokens and progressing through the levels of the game. The further you progress the more rare the rugs become.</p>
            <p>You should start by building a <b>grandma</b> as soon as you can acumulate enough (scammy 😉) tokens! Grandma's are a great asset to have as they will help you to produce more tokens</p>
            <p>Finally, beware of some upgrades that can hurt or benefit other players #blueshieldofdeath also <span @click="unhide">moooOOOON</span></p>
            <h3>Rules</h3>
            <ol>
              <li>This game holds Governance tokens and NFTs. You can only get them by playing, or buying it from a previous player</li>
              <li>The game can be changed and reset. The tokens will not be. What tokens / nfts you find and claim, you can keep (or trade)</li>
              <li>All decisions on the game are made by the DAO, you gain Governance tokens by playing the game.</li>
            </ol>
      </b-card-text>
    </b-card>
    </div>
</template>
<script>
import eventBus from "../../helpers/eventBus";
export default {
  methods: {
    unhide() {
        eventBus.$emit('update-toast', {title: "Wen m000oooN", body: 'Looks like you found something, but it could be too soon!', data: {id: 7, type: 'update'}});
    },
  }
}
</script>