<template>
  <vuescroll>
    <b-card-group deck v-if="nftArray.length > 0">
      <Rug :class="computeClass(balance[rug.id])"
            v-for="rug in rugs"
            :key="rug.id"
            :img-src="imagePath(rug.image)" :rug='rug' />      
    </b-card-group>
  </vuescroll>
</template>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

h4.card-title {
  font-family: "Staatliches";
}

div.achievementWrapper {
  max-height: 32vh;
}
div.claimed {
  font-family: 'Staatliches';
  color: #FF007F;
  font-size: 10vw;
  position: absolute;
  top: 10vh;
  text-align: center;
  left:0px;
  z-index: 10;
  width: 100%;
  text-shadow: none;
}
div.bg::after{
  background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.2) 40%, rgba(0,10,10,1) 75%, rgba(0,10,10, 1) 80%);
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
}
@media screen and (min-width: 601px) {
  div.claimed {
    font-size: 4vw;
    top: 2vw;
  }
  .card-deck {
    max-height: calc(100vh - 120px);
  }
  .card-deck .card {
    margin-bottom: 1vh;
    min-width: calc(30% - 30px);
  }
}
</style>
<script>
import Rug from "./Rug.vue";
import vuescroll from "vuescroll";
import TransactionButton from './TransactionButton.vue'
import formatter from "../../helpers/formatter";

export default {
  props: {
    nfts: {
      type: Object,
      default: function() {
        return {}
      }
    },
    available: {
      type: Boolean,
      default: true
    }
  },
  components: {
    vuescroll,
    TransactionButton,
    Rug
  },
  methods: {
    nmrl: function (p) {
      return formatter.pFormatter(p,4);
    },
    pull: function(n) {
      this.$store.dispatch('pullRug', n)
    },
    computeClass(n) {
      if(n > 0) {
        return 'rounded-0'
      }
      return 'bg rounded-0'
    },
    imagePath(image) {
      let u = new URL(image);
      return u.pathname;
    }
  },
  computed: {
    rugs() {
      return Object.values(this.nfts).filter(item => item.id >= 1 && (item.properties.level < this.$store.state.level + 3));
    },
    balance() {
      return this.$store.state.balance;
    },
    nftArray() {
      return Object.values(this.nfts);
    }
  },
  mounted: async function() {
    this.$store.dispatch('getRugBalance')
  }
};
</script>