<template>
  <div class="rain">
    <div class="rainer" v-if="rain">
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span @click="unhide" :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
      <span :class="'level' + l.level"></span>
    </div>
  </div>
</template>
<style lang="scss" scoped>
div.rain {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

div.rainer {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 0;
}

div.rain span {
  width: 64px;
  /* max-width: 32px; */
  height: 64px;
  background: url("../../assets/level/1.svg");
  background-size: cover;
  opacity: 0;
  z-index: 0;
  -webkit-animation: loader 10s infinite linear;
  -moz-animation: loader 10s infinite linear;
  animation: loader 10s infinite linear;
  background-size: 64px 64px;
  background-repeat: no-repeat;
  visibility: visible;
}

div.rain span:nth-child(5n + 5) {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

div.rain span:nth-child(3n + 2) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

div.rain span:nth-child(2n + 5) {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

div.rain span:nth-child(3n + 10) {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  animation-delay: 2.7s;
}

div.rain span:nth-child(7n + 2) {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

div.rain span:nth-child(4n + 5) {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s;
}

div.rain span:nth-child(3n + 7) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
}

div.rain span:nth-child(1) {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

div.rain span.level0 {
  background: url("../../assets/level/thumb/0.png");
  background-repeat: no-repeat;
}
div.rain span.level1 {
  background: url("../../assets/level/thumb/1.png");
  background-repeat: no-repeat;
}
div.rain span.level2 {
  background: url("../../assets/level/thumb/2.png");
  background-repeat: no-repeat;
}
div.rain span.level3 {
  background: url("../../assets/level/thumb/3.png");
  background-repeat: no-repeat;
}
div.rain span.level4 {
  background: url("../../assets/level/thumb/4.png");
  background-repeat: no-repeat;
}
div.rain span.level5 {
  background: url("../../assets/level/thumb/5.png");
  background-repeat: no-repeat;
}
div.rain span.level6 {
  background: url("../../assets/level/thumb/6.png");
  background-repeat: no-repeat;
}
div.rain span.level7 {
  background: url("../../assets/level/thumb/7.png");
  background-repeat: no-repeat;
}
div.rain span.level8 {
  background: url("../../assets/level/thumb/8.png");
  background-repeat: no-repeat;
}
div.rain span.level9 {
  background: url("../../assets/level/thumb/9.png");
  background-repeat: no-repeat;
}

@keyframes loader {
  0% {
    width: 75px;
    height: 75px;
    background-size: contain;
    opacity: 0;
    -webkit-transform: translate(0, 0vh) rotateZ(0deg);
  }
  25% {
    width: 75px;
    height: 75px;
    background-size: contain;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 20vh) rotateZ(90deg);
  }
  75% {
    width: 75px;
    height: 75px;
    background-size: contain;
    opacity: 0.75;

    -webkit-transform: translate(0vw, 40vh) rotateZ(270deg);
  }
  100% {
    width: 75px;
    height: 75px;
    background-size: contain;
    opacity: 0;

    -webkit-transform: translate(0vw, 60vh) rotateZ(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    width: 75px;
    height: 75px;
    background-size: contain;
    opacity: 0;

    -webkit-transform: translate(0, 0vh) rotateZ(0deg);
  }
  25% {
    width: 75px;
    height: 75px;
    background-size: contain;
    opacity: 0.75;
    -webkit-transform: translate(0, 20vh) rotateZ(90deg);
  }
  75% {
    width: 75px;
    height: 75px;
    background-size: contain;
    opacity: 0.75;

    -webkit-transform: translate(0vw, 40vh) rotateZ(270deg);
  }
  100% {
    width: 75px;
    height: 75px;
    background-size: contain;
    opacity: 0;

    -webkit-transform: translate(0vw, 60vh) rotateZ(360deg);
  }
}

@-moz-keyframes loader {
  0% {
    width: 75px;
    height: 75px;
    background-size: contain;
    opacity: 0;

    -webkit-transform: translate(0, 0vh) rotateZ(0deg);
  }
  25% {
    width: 75px;
    height: 75px;
    background-size: contain;
    opacity: 0.75;

    -webkit-transform: translate(0, 20vh) rotateZ(90deg);
  }
  75% {
    width: 75px;
    height: 75px;
    background-size: contain;
    opacity: 0.75;

    -webkit-transform: translate(5vw, 40vh) rotateZ(270deg);
  }
  100% {
    width: 75px;
    height: 75px;
    background-size: contain;
    opacity: 0;
    -webkit-transform: translate(10vw, 60vh) rotateZ(360deg);
  }
}
</style>
<script>
import levels from "../../helpers/levels";
import eventBus from '../../helpers/eventBus';

export default {
  computed: {
    rain: function () {
      return this.$store.state.rain;
    },
    blocktime() {
      return this.$store.state.blocktime;
    },
    l: function () {
      return levels[this.$store.state.level || 0];
    },
  },
  methods: {
    unhide() {
      console.log('dingg');
      eventBus.$emit('update-toast', {title: "Nice one!", body: 'Looks like you found something!', data: {id: 16, type: 'update'}});
    },
  }
};
</script>