<template>
  <b-card bg-variant="dark" text-variant="white" :img-src="imagePath(rug.image)">
    <b-card-title
      ><h4>
        {{ rug.title }}
      </h4>
    </b-card-title>
    <h6>
      <b-badge class="rounded-0 pull-right" variant="primary"
        >Season {{ rug.properties.season }}</b-badge
      >
      <b-badge
        v-if="balance[rug.id] > 0"
        class="rounded-0 pull-right"
        variant="info"
        >Level {{ rug.properties.level }}</b-badge
      >

      <b-badge
        v-if="balance[rug.id] > 0"
        class="rounded-0 pull-right"
        variant="success"
        ><span>{{ balance[rug.id] }}</span> Available</b-badge
      >
      <b-badge
        v-if="balance[rug.id] == 0"
        class="rounded-0 pull-right"
        variant="danger"
        >PULLED</b-badge
      >
    </h6>
    <b-card-text>
      <small>{{ rug.description }}</small>
      <div class="claimed" v-if="balance[rug.id] < 1">CLAIMED</div>
    </b-card-text>
    <template #footer>
      <small v-if="balance[rug.id] > 0" class="text-muted">
        Pull for {{ nmrl(rug.properties.price) }} tokens
        <TransactionButton
          class="float-right rounded-0"
          variant="primary"
          size="sm"
          title="Pull"
          @click.native="pull(rug.id)"
        ></TransactionButton>
      </small>
    </template>
  </b-card>
</template>
<script>
import TransactionButton from './TransactionButton.vue'
import formatter from "../../helpers/formatter";

export default {
  props: {
     rug: {
      type: Object,
      default: function() {
        return {
          id: 0,
          title: '',
          properties: {
            level: 9,

          }
        }
      }
    },
    available: {
      type: Boolean,
      default: true
    }
  },
  components: {
    TransactionButton
  },
  methods: {
    nmrl: function (p) {
      return formatter.pFormatter(p,4);
    },
    pull: function(n) {
      this.$store.dispatch('pullRug', n)
    },
    computeClass(n) {
      if(n > 0) {
        return 'rounded-0'
      }
      return 'bg rounded-0'
    },
    imagePath(image) {
      let u = new URL(image);
      return u.pathname;
    }
  },
  computed: {
    rugs() {
      return Object.values(this.nfts).filter(item => item.id >= 1 && (item.properties.level < this.$store.state.level + 3));
    },
    balance() {
      return this.$store.state.balance;
    },
    nftArray() {
      return Object.values(this.nfts);
    }
  },
  mounted: async function() {
    this.$store.dispatch('getRugBalance')
  }
};
</script>