<template>
  <vuescroll>
    <div class='cardlist'>
    <b-card bg-variant="dark" text-variant="white" class="rounded-0">
      <b-card-text>
        <h1 class="credits">Some statistics</h1>
        <p>
          You have been playing since block {{start}}. Currently there are {{players.length}} players.
        </p>
      </b-card-text>
    </b-card>

    <b-card bg-variant="dark" text-variant="white" class="rounded-0">
      <b-card-text>
        <h1 class="credits">Historical production</h1>
        <p>
          Soon..
          <br /><br />
          {{history}}
        </p>
      </b-card-text>
    </b-card>
    
    </div>
    </vuescroll>

</template>
<script>
import TransactionButton from "./TransactionButton.vue";
import vuescroll from "vuescroll";
export default {
  components: { TransactionButton, vuescroll },
  computed: {
    start() {
      return this.$store.state.start;
    },
    players() {
      return this.$store.state.players;
    },
    history() {
      let history = {};
      this.$store.state.buildings.map((item, index) => {
        for(let n=0; n<item.length; n++) {
          if(typeof history[item[n]] == 'undefined') {
            history[item[n]] = [];
          }
          history[item[n]].push(index);
        }
      });
      return history;
    }
  },
  mounted() {
    this.$store.dispatch('getPlayers');
  },
  data() {
    return {};
  },
};
</script>
<style scoped>
div.card {
  margin-bottom: 1vh;
}
div.cardlist {
  max-height: calc(100vh - 120px);
}
</style>