<template>
    <b-button v-if="this.$store.state.loading" :class='classs'  disabled :block='block' :size='size' :variant="variant">
        <b-spinner small type="grow"></b-spinner>
        Wait..
    </b-button>
    <b-button v-else :class='classs' :block='block' :size='size' :variant="variant">
        <span v-if="title != ''">{{title}}</span>
        <b-icon v-if="icon" :icon="icon"></b-icon>
    </b-button>
</template>
<script>
export default {
    computed: {
        
    },
    props: {
        title: String,
        variant: String,
        size: String,
        classs: String,
        block: String,
        icon: String
    }
}
</script>