<template>
  <b-card
    overlay
    bg-variant="dark"
    text-variant="white"
    class="bg rounded-0"
    :key="upgrade.id"
    :title="upgrade.title"
    :img-src="image(upgrade)"
  >
    <b-card-text>{{ upgrade.description }}</b-card-text>
    <div class="upgradeFooter">
      <span v-if="upgradeGameData[parseInt(upgrade.id)] == 0">
        Buy for
        <span class="aprice" v-if="upgradeGameData[upgrade.id] == 0">{{
          nmrl(upgradeData[upgrade.id][5])
        }}</span>
        {{ productionName }}
        <transaction-button
          classs="float-right"
          variant="success"
          size="sm"
          @click.native="buyUpgrade(upgrade.id)"
          icon="basket2"
        >
        </transaction-button>
      </span>
      <span v-else> You own this upgrade [{{ upgrade.id }}] </span>
    </div>
  </b-card>
</template>
<style scoped>
.card {
  position: relative;
  border: 0px;
}
div.bg::after{
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.2) 30%, rgba(200,114,242,0.05) 55%, rgba(0,23,56, 1) 95%);
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
}
h4.card-title {
  text-shadow: 2px 2px #000;
  font-family: 'Staatliches';
  z-index: 10;
  position: relative;
}
.card-colums .card {
  min-width: calc(30% - 30px);
  max-width: calc(40% - 30px);
  margin-bottom: 30px !important;
}
.upgradeFooter {
  width: 85%;
  background: none;
  position: absolute;
  bottom: 1vh;
  z-index: 10;
}
.upgradeFooter span {
  color: #fff;
  font-size: 0.85rem;
  z-index: 10;
}
.upgradeFooter small .aprice {
  color: #fff;
  font-weight: bold;
  z-index: 10;
  font-family: 'Staatliches';
}
.upgradeFooter button {
  z-index: 10;
}
p.card-text {
  position: relative;
  z-index: 10;
  line-height: 0.95;
  text-shadow: 2px 2px #000;
}

@media screen and (min-width: 601px) {
  .upgradeContainer {
    max-height: calc(100vh - 120px);
    display: inline-block;
    height: calc(100vh - 120px) !important;
  }
}

</style>
<script>
import levelData from '../../helpers/levels';
import upgrades from '../../helpers/upgrades';
import numeral from 'numeral'
import vuescroll from 'vuescroll';
import TransactionButton from './TransactionButton.vue';
import eventBus from "../../helpers/eventBus";
import calculator from '../../helpers/calculator';
import formatter from "../../helpers/formatter";
import Upgrade from "./Upgrade.vue";
export default {
  components: {
    vuescroll,
    TransactionButton,
    Upgrade
  },
  computed: {
    productionName() {
      if(levelData.length > 0) {
        return levelData[this.$store.state.level].short;
      }
      return 'tokens';
    },
    upgradeGameData() {
      return this.$store.state.upgrades;
    },
    upgradeData() {
      return this.$store.state.upgradeData;
    }
  },
  methods: {
    unhideUpgrade(id) {
      eventBus.$emit('update-toast', {title: "Nice one!", body: 'Looks like you found something!', data: {id: id, type: 'update'}});
    },
    image(a) {
      if(typeof a.extension != 'undefined') {
        return require(`~/assets/upgrades/${a.id}.${a.extension}`)
      }
      return require(`~/assets/upgrades/${a.id}.png`)
    },
    nmrl: function(p) {
      return formatter.pFormatter(p,4);
    },
    buyUpgrade: function(id) {
      if(id == 17) {
          this.audio = new Audio(window.location + 'audio/dumpit.mp3');
          this.audio.play();
      }
      this.$store.dispatch('buyUpgrade', id);
    },
  },
  props: {
    upgrade: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
