<template>
    
<vuescroll>
  <div class='upgradeContainer'>
            <b-card-group columns v-if="upgradeGameData.length > 0">
              <Upgrade  class="bg rounded-0"
                v-for="a in upgrades"
                :key="a.id"
                :upgrade="a" />
              <b-card  overlay bg-variant="dark" text-variant="white"
                class="bg rounded-0"
                :title="'More upgrades'"
                :img-src="require(`~/assets/upgrades/999.png`)"
              >
                <b-card-text>More upgrades needed?</b-card-text>
                <div class="upgradeFooter">
                  <span>New upgrades next update or next level... <span @click='unhideUpgrade(9)'>😇</span></span>
                </div>
              </b-card>
            </b-card-group>
      </div>
      </vuescroll>
</template>
<style scoped>
.card {
  position: relative;
  border: 0px;
}
div.bg::after{
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.2) 30%, rgba(200,114,242,0.05) 55%, rgba(0,23,56, 1) 95%);
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
}
h4.card-title {
  text-shadow: 2px 2px #000;
  font-family: 'Staatliches';
  z-index: 10;
  position: relative;
}
.card-colums .card {
  min-width: calc(30% - 30px);
  max-width: calc(40% - 30px);
  margin-bottom: 30px !important;
}
.upgradeFooter {
  width: 85%;
  background: none;
  position: absolute;
  bottom: 1vh;
  z-index: 10;
}
.upgradeFooter span {
  color: #fff;
  font-size: 0.85rem;
  z-index: 10;
}
p.card-text {
  position: relative;
  z-index: 10;
  line-height: 0.95;
  text-shadow: 2px 2px #000;
}

@media screen and (min-width: 601px) {
  .upgradeContainer {
    max-height: calc(100vh - 120px);
    display: inline-block;
    height: calc(100vh - 120px) !important;
  }
}

</style>
<script>
import levelData from '../../helpers/levels';
import upgrades from '../../helpers/upgrades';
import numeral from 'numeral'
import vuescroll from 'vuescroll';
import TransactionButton from './TransactionButton.vue';
import eventBus from "../../helpers/eventBus";
import calculator from '../../helpers/calculator';
import formatter from "../../helpers/formatter";
import Upgrade from "./Upgrade.vue";
export default {
  components: {
    vuescroll,
    TransactionButton,
    Upgrade
  },
  computed: {
    productionName() {
      if(levelData.length > 0) {
        return levelData[this.$store.state.level].short;
      }
      return 'tokens';
    },
    upgradeGameData() {
      return this.$store.state.upgrades;
    },
    upgradeData() {
      return this.$store.state.upgradeData;
    }
  },
  methods: {
    unhideUpgrade(id) {
      eventBus.$emit('update-toast', {title: "Nice one!", body: 'Looks like you found something!', data: {id: id, type: 'update'}});
    },
  },
  props: {
    upgrades: {
      type: Array,
      default: () => []
    }
  }
}
</script>
