<template>
  <b-modal ref="eventModal" id="eventModal" ok-title="Yes" cancel-title="No"  ok-variant="primary" cancel-variant="secondary" @ok='okHandler'>
    <template #modal-title>Event: {{e.title}}</template>
    <div class="d-block">
      <p>
        {{e.body}}
      </p>
    </div>
  </b-modal>
</template>
<style>
div#eventModal .modal-content {
  background-color: #112 !important;
  color: #eee;
}
div#eventModal .modal-header {
  border-bottom: 0px !important;
}

div#eventModal .modal-footer  {
  border-top: 0px !important;
}
</style>
<script>
import events from '../../helpers/events';
export default {
  computed: {
    e() {
      return events[this.eventId];
    }
  },
  props: {
    eventId: {
      type: Number,
      default: 0
    }
  },
  methods: {
    okHandler() {
      if(this.eventId == 1) {
        this.audio = new Audio(window.location + 'audio/thatsascam.mp3');
        this.audio.play();
      }
      this.$store.dispatch('claimEvent');
    }
  }
}
</script>