<template>
  <b-modal id="helpModal">
    <template #modal-title> How to play </template>
    <div class="d-block">
      <h3>Prerequisites</h3>
      <p>
        In order to play this game you need a wallet connected to the fantom
        netowrk. I recommend installing the <a href='https://metamask.io'>MetaMask</a> wallet &
         browser plugin. Continue to read for a brief explanation.
      </p>
      <p>
        1. Install <a href='https://metamask.io'>MetaMask</a> and create a`new wallet.
      </p>
      <p>2. Consequently connect to the
        fantom network. Click <a href="https://chainlist.org/">here</a> for help. <a href="https://docs.fantom.foundation/tutorials/set-up-metamask">More info here..</a>
      </p>
      <p>
        2. Make sure you have at least 1 fantom in your wallet. You can get
        them through any DEX. You can use <a href="https://multichain.xyz/">MultiChain</a> for token swaps.
      </p>
      <p>3. Hit the connect button, link metamask and click start game.</p>
      <p>4. Playing the game is about discovery, there are many hidden upgrades, features achievements and buildings hidden in the game. The aim is to discover them all, the more achievements you achieve the more influence you can have on the further development of the game. 
      <h4>Why?</h4>
      <p>
        I have created this experience, so that people can get familiar with the
        toolset that you need in order to work with crypto networks.
      </p>
      <p>
          Additionally I wanted to learn how the building blocks of crypto actually work. This game revolves around many parts of the current crypto environment, wallets, DAO's, NFTS and tokens are all part of the game and the experience. Finally I love all the memes in the space, so there are many memes <span @click="unhide">hidden</span> in the game.
      </p>
    </div>
  </b-modal>
</template>
<style scoped>
.rinkeby {
  max-width: 50%;
  float: right;
}
</style>
<script>
import eventBus from "../../helpers/eventBus";
export default {
  methods: {
    unhide() {
        eventBus.$emit('update-toast', {title: "No way", body: 'You actually read this?!?! Be sure to click this later in the game..', data: {id: 2, type: 'update'}});
    },
  }
}
</script>