<template>
  <b-modal
    id='levelModal'
    ref="levelModal"
    bg-variant="dark"
    text-variant="light"
    hide-footer
    title="Progress to the next level"
  >
    <div class="d-block text-center" v-if="currentLevel()">
      <h3>Level-Up</h3>
      <p>
        When you level up, you will lose all your buildings and achievements.
        But you will get something in return...
      </p>
      <p>
        Your current level is {{level}}.  You need at  least {{nextLevelPrice()}} {{currentLevel().underline}} to level up.
      </p>
    </div>
    <transaction-button classs="mt-2" variant="success" block @click.native="levelUp" title="Level up!"></transaction-button>
  </b-modal>
</template>
<script>
import levelData from '../../helpers/levels.js'
import numeral from "numeral";
import formatter from '../../helpers/formatter';
import TransactionButton from "../Game/TransactionButton.vue";

export default {
  components: {
    TransactionButton
  },
  data: function() {
    return {
      levelData: levelData
    }
  },
  methods: {
    levelUp() {
      this.$store.dispatch('levelUp');
      this.$bvModal.hide('levelModal');    
    },
    currentLevel() {
      if(this.$store.state.level >= 0) {
        return levelData[this.$store.state.level];
      }
    },
    nextLevelPrice() {
      if(this.$store.state.levelPrices.length > 0) {
        return formatter.pFormatter(this.$store.state.levelPrices[parseInt(this.$store.state.level) + 1],4);
      }
    }
  },
  computed: {
    level() {
      return this.$store.state.level;
    }
  }
}
</script>