<template>
  <b-modal ref="notEnoughTokenModal" id="notEnoughTokenModal" ok-title="Yes we can!"  ok-variant="primary" ok-only>
    <template #modal-title>Whoooah!</template>
    <div class="d-block">
      <p>
        😫 Your token balance is too low, please wait until you have enough tokens. Have you tried buying some grandma's? 💡🙄. 
      </p>
      <small>Pro tip: Due to a progressive front-end, the game can be a bit ahead of the chain. Check the amount of tokens that are actually in your contract before buying!</small>
    </div>
  </b-modal>
</template>
<style>
div#eventModal .modal-content {
  background-color: #112 !important;
  color: #eee;
}
div#eventModal .modal-header {
  border-bottom: 0px !important;
}

div#eventModal .modal-footer  {
  border-top: 0px !important;
}
</style>
<script>
export default {
  data() {
    return {
      eid: 0,
    }
  },
  methods: {
    okHandler() {

    }
  }
}
</script>