<template>
  <b-modal ref="notEnoughLevelModal" id="notEnoughLevelModal" ok-title="Yes we can!"  ok-variant="primary" ok-only>
    <template #modal-title>Whoooah!</template>
    <div class="d-block">
      <p>
        😫 Your level is too low!! Level up by clicking the big token!
      </p>
    </div>
  </b-modal>
</template>
<style>
div#eventModal .modal-content {
  background-color: #112 !important;
  color: #eee;
}
div#eventModal .modal-header {
  border-bottom: 0px !important;
}

div#eventModal .modal-footer  {
  border-top: 0px !important;
}
</style>
<script>
export default {
  data() {
    return {
      eid: 0,
    }
  },
  methods: {
    okHandler() {

    }
  }
}
</script>