<template>
  <b-container fluid class="bgpaper">
    <b-row>
      <b-col>
        <p>&nbsp;</p>
      </b-col>
    </b-row>
    <Game v-if="isGaming" />
    <Connect v-else />
    <social-head title="CoinClicker.io" description="CoinClicker is a idle game, build to teach how to interact with ethereum, dapps and defi." />
    <EventModal :eventId='eventId' />
    <NotEnoughTokenModal />
    <NotEnoughLevelModal />
    <div class='discordButton'>
      <a href='https://discord.gg/ZVK5vyj8XA'><b-icon-discord /></a>
      <a href='https://gitlab.com/DanielFortuyn/coinclicker'><b-icon-github /></a>
    </div>
  </b-container>
</template>
<style scoped>
body,
html {
  min-height: 100vh;
  background-color: #111;
}
.bgpaper {
  background-image: url(./assets/bg.jpg.png);
  background-color: #000000;
  background-attachment: cover;
  min-height: 100vh;
}

h3 small {
  font-size: 2vw;
  margin-top: -0.5vw;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.toast {
  font-family: "Kalam";
  font-size: 25px;
}
.discordButton {
  font-size: 3vh;
  position: fixed;
  left: 20px;
  z-index: 1000;
  bottom: 20px;
}
</style>
<script>
import Game from  '../components/Game';
import Connect from '../components/Connect';  
import '../assets/scss/custom.scss'
import SocialHead from '../components/SocialHead.vue';
import EventModal from '../components/Modal/Event.vue';
import eventBus from '../helpers/eventBus';
import upgrades from '../helpers/upgrades';
import calculator from '../helpers/calculator';
import NotEnoughTokenModal from "../components/Modal/NotEnoughToken.vue";
import NotEnoughLevelModal from "../components/Modal/NotEnoughLevel.vue";
import contracts from "../helpers/contracts.new.js";
import Web3 from "web3";
export default {
  components: {
    Connect,
    Game,
    SocialHead,
    EventModal,
    NotEnoughTokenModal,
    NotEnoughLevelModal,
  },
  methods: {
    createGame: async function () {
      this.message = "Waiting on the transaction... ";
      await wallet.cookie.methods.createGame().send({
        from: wallet.account,
      });
      this.initialLoad();
    },
    onConnect: async function() {
      await wallet.connect();
      // this.initialLoad();
    }
  },
  mounted: async function () {    
    //heyheyhey
    this.$store.commit('setContracts', contracts);

    let indexedUpgrades = {};
    for (var i = 0; i < upgrades.length; ++i) {
      indexedUpgrades[upgrades[i].id] = upgrades[i];
    }
    //Toaster hook
    eventBus.$on('update-toast', (data) => {
      let id = parseInt(data.data.id) + 200;
      if(data.data.type == 'update' || data.data.type == 'upgrade') {
        if(this.$store.state.level >= indexedUpgrades[id].contract.level) {
          this.$store.commit('setUpdateFilter', parseInt(data.data.id));
          if(data.body) {
            this.$bvToast.toast(data.body, {
              title: data.title,
              toaster: 'b-toaster-bottom-center',
              variant: data.variant || 'primary',
              solid: true,
              headerClass: 'coinToastHeader',
              bodyClass: 'coinToastBody',
              appendToast: true,
              autoHideDelay: 5000
            })
          }
        }
      }
    });

    eventBus.$on('toast-upgrade-success', (id) => {
      let upgrade = calculator.findUpgradeById(upgrades,id);
      if(typeof upgrade.toast == 'object') {
          this.$bvToast.toast(upgrade.toast.body, {
            title: upgrade.toast.title,
            toaster: 'b-toaster-bottom-center',
            variant: 'primary',
            solid: true,
            headerClass: 'coinToastHeader',
            bodyClass: 'coinToastBody',
            appendToast: true,
            autoHideDelay: 5000
          });
      }
    });

    eventBus.$on('random-event', (id) => {
      this.eventId = id;
      if(this.$store.state.buildings[0] > 0 && this.$store.state.loaded) {
        if (this.$store.state.buildings[0] > 0) {
          this.$bvModal.show('eventModal');
          return true;
        }
      }
    });

    eventBus.$on('not-enough-token', (id) => {
      this.$bvModal.show('notEnoughTokenModal');
    });

    eventBus.$on('not-enough-level', (id) => {
      this.$bvModal.show('notEnoughLevelModal');
    });

    eventBus.$on('random-event-hide', (id) => {
      this.$bvModal.hide('eventModal');
    })

    eventBus.$on('toast', (data) => {
      this.$bvToast.toast(data.body, {
        title: data.title,
        toaster: 'b-toaster-bottom-center',
        variant: data.variant || 'primary',
        solid: true,
        headerClass: 'coinToastHeader',
        bodyClass: 'coinToastBody',
        appendToast: true,
        autoHideDelay: 5000
      })
    });
  },
  computed: {
    isGaming() {
      if(this.$store.state.buildings[0] && this.$store.state.loaded ) {
        if (this.$store.state.buildings[0] > 0) {
          return true;
        }
      }
      return false;
    }
  },
  data: () => {
    return {
      account: false,
      web3: false,
      web3Modal: false,
      provider: false,
      eventId: 0,
    };
  },
};
</script>


